<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/css/output.css" />
    <title>Warranty Information</title>
  </head>
  <body>
    <main>
      <div class="bg-primary text-white flex items-center justify-between px-8">
        <div>
          <img
            src="../static/images/profilm_logo_w_bg_color.png"
            alt="Profilm Logo"
            class="h-8 w-auto object-cover"
          />
        </div>

        <div>
          <h1 class="text-xs text-right font-semibold py-4 pl-8 uppercase">
            Window Film / Paint Protection
          </h1>
        </div>
      </div>

      <div class="@container mx-auto px-8 max-w-3xl overflow-x-auto mt-8">
        <p>
          Thank you for purchasing Profilm window film. Below is your car window
          film's electronic warranty information. We will continue to protect
          your healthy travel with our professional warranty!
        </p>
      </div>

      <!-- Customer Information -->
      <div class="mt-8">
        <h2 class="font-semibold mb-2 pl-8">Customer Information</h2>
        <hr class="border-t border-primary mb-4" />
        <div class="@container mx-auto px-8 max-w-3xl">
          <div>
            <span>Customer Name:</span>
            <span>Lai **** *****</span>
          </div>
          <div>
            <span>Contact No:</span>
            <span>01******5678</span>
          </div>
          <div>
            <span>Warranty No:</span>
            <span>W20250507100001</span>
          </div>
        </div>
      </div>

      <!-- Car Information -->
      <div class="mt-8">
        <h2 class="font-semibold mb-2 pl-8">Car Information</h2>
        <hr class="border-t border-primary mb-4" />
        <div class="@container mx-auto px-8 max-w-3xl">
          <div>
            <span>Car Plate No:</span>
            <span>WWW8888A</span>
          </div>
          <div>
            <span>Car Frame No:</span>
            <span>L1NNSGHC7RB011192</span>
          </div>
          <div>
            <span>Car Model:</span>
            <span>BMWX9</span>
          </div>
          <div>
            <span>Car Color:</span>
            <span>Black</span>
          </div>
        </div>
      </div>

      <!-- Product Information -->
      <div class="mt-8">
        <h2 class="font-semibold px-8 mb-4">Product Information</h2>
        <hr class="border-t border-primary mb-4" />
        <div class="@container mx-auto px-8 max-w-3xl overflow-x-auto">
          <!-- table and header with color primary -->
          <table class="w-full border-collapse">
            <thead class="bg-primary text-white">
              <tr>
                <th class="border border-white px-4 py-2">Product Name</th>
                <th class="border border-white px-4 py-2">Film Area</th>
                <th class="border border-white px-4 py-2">Film Roll No</th>
                <th class="border border-white px-4 py-2">Warranty Period</th>
                <th class="border border-white px-4 py-2">Expiration</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td class="border border-gray-300 px-4 py-2">K70</td>
                <td class="border border-gray-300 px-4 py-2">Front Mirror</td>
                <td class="border border-gray-300 px-4 py-2">1KW70450450</td>
                <td class="border border-gray-300 px-4 py-2">10 Years</td>
                <td class="border border-gray-300 px-4 py-2">2035-10-10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Shop Information -->
      <div class="mt-8">
        <h2 class="font-semibold mb-2 pl-8">Shop Information</h2>
        <hr class="border-t border-primary mb-4" />
        <div class="@container mx-auto px-8 max-w-3xl">
          <div>
            <span>Shop Name:</span>
            <span>Profilm Shenzhen Store</span>
          </div>
          <div>
            <span>Shop Contact:</span>
            <span>400-800-1635</span>
          </div>
          <div>
            <span>Installation Date:</span>
            <span>2023-10-10</span>
          </div>
        </div>
      </div>

      <hr class="border-t-2 border-primary my-8" />

      <div class="@container mx-auto px-8 max-w-3xl flex flex-col gap-8">
        <div>
          <h3 class="text-primary">Contact Us</h3>
          <p class="pl-8 my-2">400-800-1635; 400-800-5090</p>
        </div>
        <div>
          <h3 class="text-primary">Window film warranty coverage</h3>
          <p class="pl-8 my-2">
            There will be no adhesive failure, blistering, cracking,
            delamination, warping or other product-related defects. If any
            occur, the manufacturer will provide an equal replacement.
          </p>
        </div>
        <div>
          <h3 class="text-primary">Kind tips</h3>
          <p class="pl-8 my-2">
            Dear Customer: Thank you for choosing Profilm's transparent paint
            protection film to protect your car. Profilm's paint protection
            film, with its excellent product performance, keeps your car looking
            like new, protects your paint surface from scratches to the greatest
            extent, and allows you to enjoy driving your new car every day.
          </p>
        </div>
        <div>
          <h3 class="text-primary">Things to note</h3>
          <p class="pl-8 my-2">
            1: Since it takes time for the membrane adhesive layer to be
            completely bonded, the car cannot be washed with high-pressure water
            within one week after the construction is completed. You can use a
            soft cloth to wet clean the surface.
          </p>
          <p class="pl-8 my-2">
            2. Due to the varying curvatures of various vehicle body parts,
            larger curvatures can result in poor film adhesion and increased
            blistering at corners. Please return the application to the repair
            shop for a re-inspection within one week of completion to ensure
            flawless quality.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
